.topNav {
    padding: 1em;;
    background: black;
    color: white;
    text-align: center;
    float: center;
    vertical-align: middle;

    width: 100vw;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    vertical-align: middle;
    width: 100vw;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 10em;
  }

.siteContainer {
    float: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.about, .services, .testimonials {
    border: 1px solid black;
    flex-grow: 1;

    height: 45vh;
    width: 90vw;
}
.content {
    padding: 1em;;
  }