@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    background-color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#myHeader {
    padding: 1em;
    background: black;
    color: white;
    text-align: center;

    margin-right: 11em;

    z-index: 2;

    width: 95vw;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 90vw;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 10em;
  }

.siteContainer {
    float: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 1em;

    vertical-align: middle;

}
.about, .services, .testimonials {
    border: 1px solid black;
    flex-grow: 1;

    text-align: center;


    
    width: 91vw;
    height: auto;
}
.about {
    padding-top: 2em;
    text-align: center;
}
.about-content {
    padding: 1em;
    font-size: 25px;
}
.lawn-mow {
    width: 80vw;
    height: auto;

    margin-top: 1em;
}
.dump {
    width: 80vw;
    height: auto;
    margin-top: 1em;
}
.clean {
    width: 80vw;
    height: auto;
    margin-top: 1em;
}
.other {
    width: 80vw;
    height: auto;
    margin-top: 1em;
}
.serviceExample {
    padding: 1em;
    width: 80vw;
    height: auto;

    font-size: 20px;
}
#footContact {
    text-align: center;
}
button {
    margin: 1em;
    padding: 0.5em;
}
.want-other {
    margin: 2em;
}